.form, 
.field{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form input[type="text"],
.form select{
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    font-size: 1.6rem;
}

.submit{
    background-color: var(--primary);
    padding: 1.6rem;
    font-size: 1.6rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    font-weight: 700;
    &:hover{
        background-color: burlywood;
    }
}

