.container{
    background-color: rgb(80, 79, 79);
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;

    p{
        font-size: 1.6rem;
        
    }
    .current{
        font-size: 3rem;
        font-weight: 900;
    }

    .temp{
        display: flex;
        justify-content: space-around;
        gap: 2rem;

        p{
            font-weight: 900;
        }

        span{
            font-weight: 400;
        }
    }
}

